<launch>
	<!-- <include file="$(find zed_wrapper)/launch/zed.launch" />
	<node name="odom_node" pkg="odom_pkg" type="odom_node" output="screen" /> -->
	 <node name="theMan_node" pkg="objectdetect_pkg" type="theMan_node" output="screen"/>
	<node name="objectdetect_node" pkg="objectdetect_pkg" type="objectdetect_node" output="screen" /> 
	<include file="$(find opencv_apps)/launch/general_contours.launch" />
	<include file="$(find openni2_launch)/launch/openni2.launch" /> 
</launch>
